services:
  wings:
    image: ghcr.io/pterodactyl/wings:v1.11.13
    restart: always
    networks:
      ptero0:
      proxy-network:
    ports:
      - "2022:2022"
    tty: true
    env_file: .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers:/var/lib/docker/containers"
      - "/opt/pterodactyl/wings/config:/etc/pterodactyl"
      - "/var/lib/pterodactyl:/var/lib/pterodactyl"
      - "/var/log/pterodactyl:/var/log/pterodactyl"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
  cache:
    image: redis:8.2.3-bookworm
    restart: always
    networks:
      ptero0:
  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.11
    restart: always
    env_file: .env
    networks:
      proxy-network:
      ptero0:
    volumes:
      - "/opt/pterodactyl/panel/appvar/:/app/var/"
      - "/opt/pterodactyl/panel/nginx/:/etc/nginx/http.d/"
      - "/opt/pterodactyl/panel/logs/:/app/storage/logs"
    depends_on:
      - cache

networks:
  ptero0:
    name: ptero0
    driver: bridge
    ipam:
      config:
        - subnet: "192.53.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: ptero0
  proxy-network:
    external: true
