services:
  wings:
    image: ghcr.io/pterodactyl/wings:v1.11.13
    restart: always
    networks:
      - ptero0
    ports:
      - "8443:443"
      - "2022:2022"
    tty: true
    env_file: .env
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers:/var/lib/docker/containers"
      - "/opt/pterodactyl/wings/config:/etc/pterodactyl"
      - "/var/lib/pterodactyl:/var/lib/pterodactyl"
      - "/var/log/pterodactyl:/var/log/pterodactyl"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
  cache:
    image: redis:8.2.3-bookworm
    restart: always
  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.11
    restart: always
    env_file: .env
    ports:
      - "802:80"
      - "4432:443"
    links:
      - cache
    volumes:
      - "/opt/pterodactyl/panel/appvar/:/app/var/"
      - "/opt/pterodactyl/panel/nginx/:/etc/nginx/http.d/"
      - "/opt/pterodactyl/panel/logs/:/app/storage/logs"
    environment:
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      APP_URL: "https://webinterface.rjst.de"
      APP_TIMEZONE: "Europe/Berlin"
      APP_SERVICE_AUTHOR: "rjstdevelopement@gmail.com"
      MAIL_FROM: "rjstdevelopement@gmail.com"
      MAIL_DRIVER: "smtp"
      MAIL_HOST: "smtp.gmail.com"
      MAIL_PORT: "587"
      MAIL_USERNAME: "rjstdevelopement@gmail.com"
      MAIL_PASSWORD: "XXX"
      MAIL_ENCRYPTION: "true"
      DB_HOST: "mariadb.server.lan"
      DB_PORT: "3306"
      DB_DATABASE: "pterodactyl"
      DB_USERNAME: "app_pterodactyl"
      DB_PASSWORD: "XXX"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
    depends_on:
      - cache

networks:
  ptero0:
    name: ptero0
    driver: bridge
    ipam:
      config:
        - subnet: "192.53.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: ptero0
