services:
  wings:
    image: ghcr.io/pterodactyl/wings:latest
    restart: always
    networks:
      - ptero0
    ports:
      - "8443:443"
      - "2022:2022"
    tty: true
    environment:
      TZ: "Europe/Berlin"
      WINGS_UID: 988
      WINGS_GID: 988
      WINGS_USERNAME: pterodactyl
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/var/lib/docker/containers:/var/lib/docker/containers"
      - "/opt/pterodactyl/wings/config:/etc/pterodactyl"
      - "/var/lib/pterodactyl:/var/lib/pterodactyl"
      - "/var/log/pterodactyl:/var/log/pterodactyl"
      - "/tmp/pterodactyl/:/tmp/pterodactyl/"
  cache:
    image: redis:alpine
    restart: always
  panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: always
    ports:
      - "802:80"
      - "4432:443"
    links:
      - cache
    volumes:
      - "/opt/pterodactyl/panel/appvar/:/app/var/"
      - "/opt/pterodactyl/panel/nginx/:/etc/nginx/http.d/"
      - "/opt/pterodactyl/panel/logs/:/app/storage/logs"
    environment:
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      APP_URL: "https://webinterface.rjst.de"
      APP_TIMEZONE: "Europe/Berlin"
      APP_SERVICE_AUTHOR: "rjstdevelopement@gmail.com"
      MAIL_FROM: "rjstdevelopement@gmail.com"
      MAIL_DRIVER: "smtp"
      MAIL_HOST: "smtp.gmail.com"
      MAIL_PORT: "587"
      MAIL_USERNAME: "rjstdevelopement@gmail.com"
      MAIL_PASSWORD: "XXX"
      MAIL_ENCRYPTION: "true"
      DB_HOST: "mariadb.server.lan"
      DB_PORT: "3306"
      DB_DATABASE: "pterodactyl"
      DB_USERNAME: "app_pterodactyl"
      DB_PASSWORD: "XXX"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
    depends_on:
      - cache
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    ports:
      - "8080:8080"
    privileged: true
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    networks:
      - ptero0
    command:
      - '--housekeeping_interval=10s'
      - '--docker_only=true'

networks:
  ptero0:
    name: ptero0
    driver: bridge
    ipam:
      config:
        - subnet: "192.53.0.0/16"
    driver_opts:
      com.docker.network.bridge.name: ptero0
