services:
  app:
    image: 'jc21/nginx-proxy-manager:2.13.4'
    restart: unless-stopped
    ports:
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
    environment:
      TZ: "Europe/Berlin"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    networks:
      proxy-network:

networks:
  proxy-network:
    external: true
